<mat-card>
  <mat-card-content>
    <h2 class="example-h2">Attributes - {{objectType}}</h2>
    <div class="icon clickable" (click)="createNewObject()">
        <i class="material-icons">add_circle</i>
    </div>
    <ul class="example-ul">
      <li *ngFor="let attribute of objectAttributes; let i=index">
        <mat-checkbox checked="true" (click)=changeDisplayedColumns(attribute) class="example-margin">{{attribute}}</mat-checkbox>
      </li>
    </ul>
  </mat-card-content>
</mat-card>
<div class="example-container mat-elevation-z8">
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>
</div>
<mat-table #table [dataSource]="objectData" matSort class="mat-cell mat-elevation-z8">
  <div *ngFor="let column of getDisplayedColumns(); let i=index">
    <ng-container *ngIf="i < getDisplayedColumns().length" matColumnDef={{column}}>
      <div>
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{column}}</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div *ngIf="row.isRelationShipAttribute(column);else noRelationshipAttribute" (click)="$event.stopPropagation()">
            <i class="material-icons icon-center" (click)="showRelationshipDialog(row, column)">visibility</i>
          </div>
          <ng-template #noRelationshipAttribute>
            {{row.resolveAttributeName(column)}}
          </ng-template>
        </mat-cell>
      </div>
    </ng-container>
  </div>
  <mat-header-row *matHeaderRowDef="getDisplayedColumns()"></mat-header-row>
  <mat-row *matRowDef="let row; columns: getDisplayedColumns();" class="clickable" (click)="showObjectDetailPage(row)"></mat-row>
</mat-table>
<mat-paginator [length]="maxObjectsLengthInStorage" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"></mat-paginator>