<mat-card>
    <div class="example-container">
        <div *ngFor="let attribute of object?.getAttributeNames()">
          <ng-template *ngIf="object.isRelationShipAttribute(attribute); else normalAttribute" >
      
          </ng-template>
          <ng-template #normalAttribute>
           <div class="normal-attribute">
              <label>{{attribute}}</label>
            <mat-form-field>
                <input matInput placeholder={{object.resolveAttributeName(attribute)}}>
            </mat-form-field>
           </div>
          </ng-template>
        </div>
          <!-- <mat-form-field>
            <mat-label>Both a label and a placeholder</mat-label>
            <input matInput placeholder="Simple placeholder">
          </mat-form-field>
        
          <mat-form-field>
            <mat-select required>
              <mat-option>-- None --</mat-option>
              <mat-option value="option">Option</mat-option>
            </mat-select>
            <mat-placeholder></mat-placeholder>
          </mat-form-field> -->
        </div>
        
</mat-card>