<div class="container">
    <h3 mat-dialog-title>{{attribute}}</h3>

    <div *ngIf="isDataAvailable;else noValue">
        <ng-container *ngIf="hasMany;else belongsToAttribute">
            <app-simple-table [dataType]="attribute" [parentObject]="parentObject"></app-simple-table>
         </ng-container>
         <ng-template #belongsToAttribute>
            <div *ngFor="let attribute of displayData.getAttributeNames(true)">
                <label>{{attribute}}: </label>
                <label>{{displayData.resolveAttributeName(attribute)}}</label>
            </div>
         </ng-template>
    </div>
    <ng-template #noValue>
      <label>No value</label>
    </ng-template>
      <div mat-dialog-actions>
        <button mat-raised-button color="primary" [mat-dialog-close]="1" (click)="onOkClick()">OK</button>
      </div>
  </div>