<mat-card>
  <mat-card-title>
    Locaties
    <button mat-raised-button color="primary" class="switchBtn" (click)="switchToList()">{{switchName}}</button>
  </mat-card-title>
  <mat-card-content>
    <div *ngIf="mapOn; else locationList" >
        <agm-map
        [latitude]="lat"
        [longitude]="lng"
        [zoom]="zoom"
        [disableDefaultUI]="false"
        [zoomControl]="true"
        (mapClick)="mapClicked($event)">

        <agm-marker
            *ngFor="let m of markers; let i = index"
            (markerClick)="clickedMarker(m)"
            [latitude]="m.lat"
            [longitude]="m.lng"
            [label]="m.label"
            [iconUrl]="m.iconUrl"
            [markerDraggable]="m.draggable">
        </agm-marker>
      </agm-map>
    </div>
      <ng-template #locationList>
        <app-data-table [objectType]="specificObjectName"></app-data-table>
      </ng-template>
  </mat-card-content>
</mat-card>