.chart-card {
    margin: auto;
    margin-top: 4%;
    width: 50%;
    height: auto;
    cursor: pointer;
}

.resource-card {
    margin: auto;
    margin-top: 4%;
    width: 50%;
    min-height: 130px;
    text-align: center;
    cursor: pointer;
}

.resource-title {
    margin: auto;
    margin-top: 48px !important
}

.chart-image {
    max-width: 100%;
    height: auto;
}