
<router-outlet>
<mat-toolbar >
    <button mat-button [routerLink]="['/home']">
        <span>{{title}}</span>
    </button>
    <button mat-button [routerLink]="['/users']">Users</button>
    <button mat-button [routerLink]="['/posts']">Posts</button>
    <button mat-button [routerLink]="['/themes']">Themes</button>
    <button mat-button [routerLink]="['/assignments']">Assignments</button>
    <span class="fill-space"></span>
    <!--<span>{{user?.username}}</span>-->
    <button class="logout" mat-raised-button color="primary" (click)="logout()">Logout</button>
</mat-toolbar>
</router-outlet>
